body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.waveWrapper {
    height: 100vh;
    transform-origin: 100%;
}

.wave {
    height: calc(100vh + 200px);
}

.wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    bottom: 0px;
    z-index: -1;
}
.wrapper-inner {
    position: relative;
    height: 100%;
    width: 100%;
}
.follow-up {

    height: 200px;
    width: 100%;
}
.hb-jumbotron {
    font-size: 7vw;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: 400;
    border-radius: 0px;
}

.hb-jumbotron span {
    font-size: inherit;
    white-space: nowrap;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.hb-jumbotron p {
    /*line-height: 60px;*/
}
.hb-jumbotron h1 {
    line-height: 7vw;
    font-size: inherit;
}

.hb-hr {
    border-color: black;
}

.hb-non-background {
    background-color: transparent !important;
}

.hb-module-dropper {
    width: 20%;
    height: 100vh;
    position: absolute;
    top: 0px;
    z-index: -1;
    right: 10%;
}

.hb-module {
    background-color: orange;
    /*border: .1px solid black;*/
    border-radius: 5px;
    position: absolute;
    height: inherit;
    width: inherit;
}

.hb-module-wrapper {
    position: absolute;
}

.hb-navbar {
    position: absolute;
    width: 100%;
    height: 50px;
    z-index: 10;
}
.hb-navbar button {
    float: right;
    margin: 10px;
}

#hb-menu {
    transition: all 0.15s;
    width: 0%;
    background-color: orange;
    height: 100vh;
    position: fixed;
    top:0;
    left:0;
    z-index: 9;
}
.hb-menu-active {
    width: 100% !important;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
 .hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; }
    .hamburger:hover {
      opacity: 0.7; }
    .hamburger.is-active:hover {
      opacity: 0.7; }
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
      background-color: #000; }
  
  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; }
  
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      width: 40px;
      height: 4px;
      background-color: #000;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease; }
    .hamburger-inner::before, .hamburger-inner::after {
      content: "";
      display: block; }
    .hamburger-inner::before {
      top: -10px; }
    .hamburger-inner::after {
  bottom: -10px; }

  /*
   * Spring
   */
.hamburger--spring .hamburger-inner {
    top: 2px;
    transition: background-color 0s 0.13s linear; }
    .hamburger--spring .hamburger-inner::before {
      top: 10px;
      transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    .hamburger--spring .hamburger-inner::after {
      top: 20px;
      transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  
  .hamburger--spring.is-active .hamburger-inner {
    transition-delay: 0.22s;
    background-color: transparent !important; }
    .hamburger--spring.is-active .hamburger-inner::before {
      top: 0;
      transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 10px, 0) rotate(45deg); }
    .hamburger--spring.is-active .hamburger-inner::after {
      top: 0;
      transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 10px, 0) rotate(-45deg); }
  
  /*