#contentarea {
    box-sizing: border-box;
}
 
/*-------
    CSS for Image Gallery
-------*/
#contentarea .galleryrow {
    text-align: left;
}
  
#contentarea .gallerycolumn {
    position: relative;
    display: inline-block;
    width: 10vw;
    height: 10vw;
    overflow: hidden;
    margin: 10px;
    min-width: 100px;
    min-height: 100px;
}

#contentarea .galleryitem {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    transform: translate(-50%,-50%);
    max-width: 100%;
    z-index: 1;
}

/* CSS for displaying Loupe while hovering above an Image */
#contentarea span.icon-focus {
    position: absolute;
    top: calc(5vw - 32px);
    left: calc(5vw - 24px);
    font-family: 'MobiriseIcons';
    font-size: 3rem;
    color: #fff;
    opacity: 0;
    transition: .2s opacity ease-in-out;
    z-index: 2;
}

#contentarea span.icon-focus::before {
    content: '\e96b'; 
}

#contentarea div.gallerycolumn:hover span.icon-focus {
    opacity: 1; 
}

/* Screenwidth specific Adaptions */
@media screen and (max-width: 768px) {
    #contentarea .gallerycolumn {
        width: 30vw;
        height: 30vw;
        min-width: 200px;
        min-height: 150px;
    }
    #contentarea .galleryrow {
        text-align: center;
    }
    #contentarea span.icon-focus {
        position: relative;
        top: 10vw;
        left: 0;
    }
    #contentarea .content-slider .carousel-control {
        bottom: 2.5rem;
        margin-top: 0;
        top: auto;
        z-index: 17; 
    } 
    #contentarea .carousel-control,
    #contentarea .modal .close {
      position: fixed; 
    }
}
  
@media screen and (max-width: 500px) {
    #contentarea .gallerycolumn {
        width: 90vw;
        height: 90vw;    
        min-width: 0;
        min-height: 0;
        margin: 0;
    }
    #contentarea span.icon-focus {
        top: 40vw;
    }     
}

@media screen and (max-width: 320px) {
    #contentarea .likeContainer > .formitem.output {
        width: 40px !important;
    }
    #contentarea .likeContainer > .formitem {
        width: 30px;
        height: 26px;
        border: 0;
        margin: 0;
        padding: 0;
    }
}

/*-------
    Lighbox, Modal and Carousel
-------*/
#contentarea .modal {
    position: fixed;
    overflow: hidden;
    z-index: 1050;
}

#contentarea .modal-dialog {
    max-width: 100%;
}
  
#contentarea .modal-content {
    border-radius: 0;
    border: none;
    background: transparent; 
}
  
#contentarea .modal-body {
    padding: 0; 
}
  
#contentarea .modal-body img {
    max-width: 100%;
    max-height: 80vh; 
}

/* Close Button of Carousel */
#contentarea .modal .close {
    position: fixed;
    background: #1b1b1b;
    opacity: .5;
    font-size: 35px;
    font-weight: 300;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: #fff;
    top: 2.5rem;
    right: 2.5rem;
    line-height: 70px;
    border: none;
    text-align: center;
    text-shadow: none;
    z-index: 5;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
    font-family: 'MobiriseIcons'; 
}
    
#contentarea .modal .close::before {
    content: '\e91a'; 
}
  
#contentarea .modal .close:hover {
    opacity: 1;
    background: #000;
    color: #fff; 
}

/*-------
  
    Slider
  
-------*/
.content-slider .carousel-inner > .active,
.content-slider .carousel-inner > .next,
.content-slider .carousel-inner > .prev {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.content-slider .carousel-control {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 50%;
    margin-top: -35px;
    line-height: 70px;
    border-radius: 50%;
    font-size: 35px;
    border: 0;
    opacity: .5;
    text-shadow: none;
    z-index: 5;
    color: #fff;
    -webkit-transition: all .2s ease-in-out 0s;
    -o-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s; 
}
  
#contentarea .content-slider .carousel-control {
    position: fixed;
}
  
     
#contentarea .content-slider .carousel-inner > .active {
    display: block; 
}
  
#contentarea .content-slider .carousel-control.left {
    left: 0;
    margin-left: 2.5rem; 
}
  
#contentarea .content-slider .carousel-control.right {
    right: 0;
    margin-right: 2.5rem; 
}
  
#contentarea .content-slider .carousel-control:hover {
    background: #1b1b1b;
    color: #fff;
    opacity: 1; 
}

#contentarea .content-slider .content-item {
    vertical-align: middle;
}

/*-------
    Like Button & Counter
-------*/
#contentarea .likeContainer {
    position: absolute;
    bottom: -24px;
    left: 50%;
    transform: translate(-50%, 8px)
}

#contentarea .likeContainer > .formitem {
    vertical-align: middle;
    text-align: center;
}
#contentarea .likeContainer > .formitem.output {
    background-color: white;
    width: 100px;
}