#contentarea {
    box-sizing: border-box;
}
  
.galleryrow {
    text-align: left;
}
  
.gallerycolumn {
    position: relative;
    display: inline-block;
    width: 10vw;
    height: 10vw;
    overflow: hidden;
    margin: 10px;
}

.galleryitem {
    max-width: 100%;
    z-index: 1;
}

@media screen and (max-width: 800px) {
    .gallerycolumn {
        width: 25vw;
        height: 25vw;
    }
}
  
@media screen and (max-width: 400px) {
    .gallerycolumn {
        width: 80vw;
        height: 80vw;
    }
}

span.icon-focus {
    position: absolute;
    top: calc(5vw - 32px);
    left: calc(5vw - 24px);
    font-family: 'MobiriseIcons';
    font-size: 3rem;
    color: #fff;
    opacity: 0;
    transition: .2s opacity ease-in-out;
    z-index: 2;
}

span.icon-focus::before {
    content: '\e96b'; 
}

div.gallerycolumn:hover span.icon-focus {
    opacity: 1; 
}